category-box {
  display: block;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;

  title-area {
    display: block;
    background: #6441a4;
    color: white;
    margin: -5px -5px 10px -5px;
    text-align: center;
    padding: 5px;
  }

  content-area {
    display: block;
  }
}
