choose-channel {
  h1 {
    text-align: center;
  }
  button-group {
    display: flex;
    justify-content: space-evenly;

    button {
      width: 200px;
      height: 150px;
      font-size: 24px;
    }
  }
}
