command-new form {
  text-input {
    display: block;
    padding: 5px 0;
    width: 100%;

    input {
      width: 100%;
      border: 1px solid grey;
      border-radius: 5px;
      font-size: 16px;
    }
  }
}
