command-list {
  display: block;
  hint-text {
    display: block;
    text-align: center;
    font-size: 20px;
    color: grey;
    margin-bottom: 10px;
  }

  command-item {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 10px;

    &.disabled {
      color: rgba(0, 0, 0, 0.3);
    }

    info-area {
      flex: 1;

      item-name {
        display: block;
        font-weight: bold;
        font-size: 18px;
      }

      item-response {
        display: block;
        font-size: 14px;
      }

      item-description {
        display: block;
        font-size: 14px;
        font-style: italic;
      }

      item-cooldown {
        display: block;
        font-size: 14px;
      }

      item-creator {
        display: block;
        font-size: 12px;
      }
    }

    action-area {
      display: block;

      action-item {
        display: block;
        clear: both;
        padding: 5px;

        action-name,
        check-box,
        button {
          display: block;
          float: right;
        }

        action-name {
          padding-right: 5px;
        }
      }
    }
  }
}
