body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

table {
  border-spacing: 0;
  width: 100%;
  thead > tr > th {
    border-bottom: 1px solid black;
  }
}

button {
  padding: 5px;
  color: white;
  background-color: #6441a4;
  border: none;
  border-radius: 5px;

  &.warn {
    background-color: goldenrod;
  }

  &.danger {
    background-color: #f04747;
  }
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  color: inherit;
}

router-outlet {
  display: block;
  margin: 20px;
}
@import './category-box';
@import './check-box';
@import './choose-channel';
@import './command-list';
@import './command-new';
@import './config-home';
@import './home';
@import './login';
@import './mod-chat';
@import './select-input';
@import './text-edit';
@import './toolbar';
