login- {
  login-box {
    display: block;
    min-width: 250px;
    max-width: 400px;
    margin: auto;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;

    h2 {
      text-align: center;
    }
    button {
      width: 100%;
      font-size: 20px;
      font-weight: bold;
      padding: 10px;
    }
  }
}
