mod-chat {
  display: block;
  max-width: 400px;
  chat-title {
    display: block;
    max-width: 400px;
    text-align: center;
  }
  chat-box {
    display: block;
    min-height: 250px;
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid grey;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;

    chat-message {
      display: block;
      margin-bottom: 5px;

      username {
        color: #6441a4;
        font-weight: bold;
      }
    }
  }
  chat-message-box {
    display: flex;

    textarea {
      flex: 1;
      margin-right: 5px;
      resize: none;
      border: 1px solid grey;
      border-radius: 5px;
    }
  }
}
