select-input {
  position: relative;

  i {
    position: absolute;
    right: 0;
    top: 0;
  }

  input-area {
    display: inline-block;

    select-display {
      display: block;
      padding-right: 13px;
    }

    select-options {
      display: block;
      position: absolute;
      background: white;
      border: 1px solid lightgrey;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

      select-option {
        display: block;

        &:hover {
          background: lightgrey;
        }
      }
    }
  }
}
